@font-face {
    font-family: 'Tiempos Fine';
    src: url('./assets/fonts/TiemposFine-Bold.otf');
}

@font-face {
    font-family: 'Quentin';
    src: url('./assets/fonts/Quentin.otf');
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-image: url('assets/images/main.webp');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page_image-lazy {
    background-image: none;
}

.page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 940px;
}

.page__line {
    margin: 0 auto;
}

.line {
    height: 9px;
}

.line_size_m {
    width: 100px;
}

.line_theme_primary {
    background: #FFDF37;
}

.page__title {
    margin: 40px 0 50px;
}

.title {
    text-align: center;
    font-weight: 400;
    word-break: break-word;
    color: #FFFFFF;
}

.title__text_font-theme_plain {
    font-family: 'Tiempos Fine', serif;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.27px;
}

.title__text_font-theme_italic {
    font-family: 'Quentin', sans-serif;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: 0.38px;
}

.title__text_spacious {
    margin: 0 10px 0 15px;
}

.play-button {
    width: 41px;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: url('assets/images/play-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.play-button_image-lazy {
    background-image: none;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 70px 100px;
}

.modal_hidden {
    display: none;
}

.modal_bg-shadowed {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}

.modal__close-button {
    position: absolute;
    top: -40px;
    right: 0;
}

.close-button {
    width: 24px;
    height: 24px;
    border: 0;
    background-color: transparent;
    background-image: url('assets/images/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.close-button_image-lazy {
    background-image: none;
}

.video {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

@media screen and (max-width: 1024px) {
    .modal {
        padding: 56px 50px;
    }

    .page__content {
        max-width: 650px;
    }

    .title__text_font-theme_plain {
        font-size: 40px;
        line-height: 50px;
    }

    .title__text_font-theme_italic {
        font-size: 60px;
        line-height: 50px;
    }
}


@media screen and (max-width: 768px) {
    .modal {
        padding: 56px 24px;
    }

    .page__content {
        max-width: 500px;
    }

    .title__text_font-theme_plain {
        font-size: 30px;
        line-height: 40px;
    }

    .title__text_font-theme_italic {
        font-size: 40px;
        line-height: 50px;
    }
}
